* {
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
    background-color: lightblue;
    overflow: hidden;
}

main {
    height: calc(94%);
    border-top: 3px dotted #616861;
    background-color: #353935;

    /* Fade
    /* background: rgb(131, 58, 180);
    background: linear-gradient(145deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%); */
}

.showOnDesktop {
    height: 6%;
    background-color: red;
    display: grid;
    grid-template-columns: 1fr repeat(4, 1.8fr) 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.showOnDesktop a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 2.5vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.showOnDesktop a:hover {
    background-color: #ddd3d2;
    border-radius: 10px;
    transition: 0.2s;
    box-shadow: 1px 1px 5px white;
    color: black;
}

.showOnDesktop>div:nth-child(2)>a {
    padding: 0.5% 1%;
}

.showOnDesktop>div:nth-child(1)>a,
.showOnDesktop>div:nth-child(3)>a {
    padding: 2.5% 7.5%;
}

.showOnDesktop>div:nth-child(1) {
    grid-area: 1 / 1 / 2 / 2;
}

.showOnDesktop>div:nth-child(2) {
    grid-area: 1 / 2 / 2 / 6;
    padding: 0% 10%;
}

.showOnDesktop>div:nth-child(3) {
    grid-area: 1 / 6 / 2 / 7;
}

.showOnDesktop>div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.showOnDesktop>div {
    justify-content: space-around;
    background-color: #353935;
}

.parent {
    display: grid;
    grid-template-columns: 0.5fr 10fr 0.5fr;
    grid-template-rows: 0.5fr 10fr 0.5fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100%;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}

.div3 {
    grid-area: 1 / 3 / 2 / 4;
}

.div4 {
    grid-area: 2 / 1 / 3 / 2;
}
.div5 {
    grid-area: 2 / 2 / 3 / 3;
}
.div5>div{
    background-color: aqua;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/1/1e/Odontodactylus_scyllarus_R%C3%A9union.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.div6 {
    grid-area: 2 / 3 / 3 / 4;
}

.div7 {
    grid-area: 3 / 1 / 4 / 2;
}

.div8 {
    grid-area: 3 / 2 / 4 / 3;
}

.div9 {
    grid-area: 3 / 3 / 4 / 4;
}